section{
    min-height: 100vh;
}

div:first-child{  
    min-height: 50vh;
    width: 100%;    
}

div:first-child p{
    max-width: var(--app-width);
    margin: 0 2rem;
    font-size: 1.5rem;
    text-align: justify;
}

hr{ 
    margin-left: calc( 50% - var(--app-width)/2);  
    max-width: var(--app-width);
    background: var(--app-p-color);
}

@media(max-width:1044px){   
    hr{
        margin:0 2rem;
        max-width: 100%;        
    }   
}