<section *ngFor="let exp of experiences">
    <h2>{{exp.title}}</h2>
    <div class="container gaps" >
        <div class="columns">
            <div class="column">
                <figure>
                    <img [src]="path+exp.image">
                </figure>
            </div>
            <div class="column is-two-thirds">
                <h3>{{exp.description}}</h3>
                <p>{{exp.diference_description}} </p>
                <button class="app-btn"> COTIZAR MI VIAJE </button>
            </div>
        </div>
    </div>
</section>