<article class="card-experience">
    <div class="top-card">        
        <figure class="card-picture">
            <img src="../../../assets/images/exp_grupales_1.png" alt="">
            <p>!ÚLTIMOS CUPOS¡</p>
        </figure>
        <div class="card-content">
            <h3>SAFARI ÁFRICA</h3>            
            <h4>5 AL 15 DE ABRIL | DESDE 5.500 USD</h4>
            <p>Serengueti, viaje en globo, hotel
                todo incluido 4 estrellas. Vive la
                experiencia de conocer los 4 reyes
                de la sabana africana.</p>            
        </div>
    </div>
    <div class="foot-card">
      <a class="foot-card-link">MÁS INFORMACIÓN</a>
    </div>
</article>
