<article class="card-experience">
    <div class="top-card">        
        <figure class="card-picture">
            <img [src]="path + travel?.image_cover" alt="">
            <p [style]="'background-color:'+travel?.status?.color">{{travel?.status?.title}}</p>
        </figure>
        <div class="card-content">
            <h3>{{travel?.title}}</h3>            
            <h4>{{info}}</h4>
            <p>{{travel?.description}}</p>            
        </div>
    </div>
    <div class="foot-card">
      <a class="foot-card-link" [href]="travel?.url_front">MÁS INFORMACIÓN</a>
    </div>
</article>
