section, div{
    background-color: #1b233d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    
    width: fit-content;  
}

h3{
    padding: 2rem 0 1rem 0;
    color: #FFF;
    font-size: 1.25rem;
}

input{
    width: 100%;
    border: 2px solid #FFF;
    border-radius: 5px;
    height: 2.5rem;
}
input::placeholder{
    padding-left: 0.5rem;
    font-size: 1.5rem;
}

button{
    margin: 1rem 0 2rem 0;
}