section {
    background-color: #e6e6e6;
    padding-top: 1rem;
}

.form {
    padding: 0 15%;   
}

.form .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .buttons .button {
    width: 32%;
}

.form .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .dates-control{  
    width: fit-content;
}

.form .dates-control > div{
    width: 8vw;
}

.form .info .info-buttom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;   
}

.form .info .info-buttom> div:last-child{
    margin-left: 1rem;
}


@media(max-width:881px) {
    .form .buttons .button {
        width: 100%;
    }  
    
    .form .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .form .dates-control,
    .form .dates-control > div{
        width: 100%;
    }

    .form .info-buttom{
        width: 100%;
    }
}

