section>div{
    padding: 2.5rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.footer-content{
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
}

a{
    color: black;
    font-size: 0.75rem;
}

figure{
    min-width: 15rem;
    width: 15vw;
}

span img{
    width: 0.5rem;
    margin: 0 0.25rem;
}
